@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Tap Shoes Canada</h1>
    @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
</div>
<body>
    <img src="~/images/Tap-Shoes-New-Square-Colour.png" style="width: 100%"/> 
</body>